@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?gqmlps');
	src:url('/fonts/icomoon.eot?#iefixgqmlps') format('embedded-opentype'),
		url('/fonts/icomoon.woff?gqmlps') format('woff'),
		url('/fonts/icomoon.ttf?gqmlps') format('truetype'),
		url('/fonts/icomoon.svg?gqmlps#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-file:before {
	content: "\e600";
}

.icon-copy:before {
	content: "\e601";
}

.icon-disk:before {
	content: "\e602";
}

.icon-spinner:before {
	content: "\e60f";
}

.icon-lock:before {
	content: "\e610";
}

.icon-unlocked:before {
	content: "\e611";
}

.icon-cogs:before {
	content: "\e603";
}

.icon-remove:before {
	content: "\e604";
}

.icon-switch:before {
	content: "\e605";
}

.icon-download:before {
	content: "\e606";
}

.icon-upload:before {
	content: "\e607";
}

.icon-info:before {
	content: "\e608";
}

.icon-play:before {
	content: "\e609";
}

.icon-pause:before {
	content: "\e60a";
}

.icon-loop:before {
	content: "\e612";
}

.icon-console:before {
	content: "\e60b";
}

.icon-file-css:before {
	content: "\e60c";
}

.icon-info2:before {
	content: "\e60d";
}

.icon-help:before {
	content: "\e60e";
}

